.flex-container {
    display: flex;
    flex-wrap: wrap;

  }
  
  .flex-container > card {
    background-color: #ffffff;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .dog{
      width: 20vw;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }