.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contain-within {
  margin: 5vw;
}

.imgplaceholder {
  height: 13vw;
  background-color: lightpink;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: auto;
}
/* for spinner */

.paper {
  height: 10vw;
}
.float-left {
  float: left;
  margin-right: 2vw;
}
.button {
  margin: 1vw;
}

.centre-this {
  margin: auto;
  text-align: center;
  padding-left: 15vw;
  padding-right: 15vw;
}
.viewProfile {
  text-decoration: none;
}

